<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <!--<img src="/assets/shapes.svg" alt=""/>-->
    <ion-card-header style="background: blue;">
      <ion-card-title>Datos Personales</ion-card-title>
    </ion-card-header>
    <ion-card-content style="background: skyblue;">
      <p>CI:		:1723036552</p>
      <p>NOMBRES	: JORGE ALEXIS</p>
      <p>APELLIDOS	: IZA VIRACOCHA</p>
      <p>EDAD		: 26</p>
      <p>DIRECCIÓN	: SANGOLQUÍ PARROQUIA FAJARDO – BARRIO RUMILOMA </p>
      <p>TELÉFONO	: <a href="https://wa.me/593992245389">0992245389</a> - (02)2081944</p>
      <p>EMAIL : <a href="mailto:izajorge7@gmail.com">izajorge7@gmail.com</a></p>
      <p>PORTAFOLIO	: <a href="https://github.com/jorge710">jorge710</a></p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label><strong>Objetivos / Presentaci&oacute;n</strong></ion-label>
    </ion-list-header>
    <ion-item>
      <img src="/assets/foto.png" style="padding: 10px;" alt="FOTO"/>
      <p ALIGN="justify">Formar parte de un equipo de trabajo, para contribuir con mi experiencia y 
        habilidades adquiridos en los años de estudio, as&iacute; llevar al logro de
         las metas generales de la empresa, adem&acute;s de permitir oportunidades de
          desarollo personal y profesional.</p>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label><strong>Educaci&oacute;n</strong></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-card-subtitle>Secundaria 2005-2011</ion-card-subtitle>
      <p ALIGN="left" style="padding: 15px;"><strong>BACHILLER EN CIENCIAS, ESPECIALIDAD “FÍSICO MATEMÁTICO”</strong></p>
      <ion-card-subtitle>Colegio Nacional Polivalente “Juan De Salinas” - Sangolquí, Ecuador</ion-card-subtitle>
      
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-card-subtitle>Superior 2016-2020</ion-card-subtitle>
      <p ALIGN="left" style="padding: 15px;"><strong>TNLGO. ANÁLISIS DE SISTEMAS INFORMÁTICOS</strong></p>
      
      <ion-card-subtitle>Escuela Politécnica Nacional - Quito, Ecuador</ion-card-subtitle>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label><strong>Certificados</strong></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-card-subtitle>2013</ion-card-subtitle>
      <p ALIGN="left" style="padding: 15px;"><strong>➢	Certificado Suficiencia Idioma Inglés</strong></p>
      <p ALIGN="center">Howard Institute</p>
      <a href="../assets/instCertificado.PNG">Ver</a>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-card-subtitle>2017</ion-card-subtitle>
      <p ALIGN="left" style="padding: 15px;"><strong>➢	Certificado Suficiencia Idioma Inglés</strong></p>
      <p ALIGN="center">Centro de Educaci&oacute;n Continua</p>
      <a href="../assets/epnCertificado.PNG">Ver</a>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label><strong>Experiencia</strong></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-card-subtitle>Noviembre 2019</ion-card-subtitle>
      <p ALIGN="left" style="padding: 15px;"><strong>Escuela Politécnica Nacional</strong></p>
      <p ALIGN="center"></p>
    </ion-item>
  </ion-list>
  
</ion-content>
